<div class="row">
  <div class="invoices-by-year">
    <h3><%= params[:month]%>/<%= params[:year]%></h3>
    <h4><%= previos_month_administrative_tickets %></h4>
    <h4><%= next_month_administrative_tickets %></h4>
  </div>
</div>
<div class="row">
  <div class="invoices">
    <h3 class="title">Multe amministrative</h3>
    <table>
      <thead>
        <tr>
          <th>Totale</th>
          <th class="paid">Pagato</th>
          <th>Descrizione</th>
          <th class="date_of_issue">Data emissione</th>
          <th class="deadline">Scadenza</th>
          <th class="cash-invoice"></th>
          <th class="delete-invoice"></th>
        </tr>
      </thead>
      <%= render partial: 'tickets/ticket', collection: @tickets %>
    </table>
  </div>
</div>
