<tbody>
<tr>
	<td><%= fuel_receipt.company.name %></td>
	<td><%= fuel_receipt.vehicle.plate %></td>
	<td><%= fuel_receipt.date_of_issue.strftime("%d-%m-%Y") %></td>
	<td><%= fuel_receipt.litres %></td>
	<td><%= fuel_receipt.total %></td>
	<td class="delete-fuel_receipt_<%=fuel_receipt.id%>">
		<%= link_to fuel_receipt_path(id: fuel_receipt.id), method: :delete, data: {confirm: "Si e sicuri?"} do%>
			<i class="ion-ios-trash icon-small-trash"></i>
		<% end%>
	</td>
</tr>
</tbody>
