<%= form_for category_of_company_instance, remote: true do |form| %>
	<% if category_of_company_instance.errors.any? %>
		<%= pluralize(category_of_company_instance.errors.count, "error") %> prevented your account from being created:
		<ul>
			<% category_of_company_instance.errors.full_messages.each do |error_message| %>
				<li><%= error_message %></li>
			<% end %>
		</ul>
	<% end %>
	<div>
		<%= form.label 'Categoria' %>
		<%= form.text_field :category, require: true %>
	</div>
	<br>
	<div>
		<%= form.submit "Aggiungi categoria", id: "add_category"%>
	</div>
<% end %>
