<table>
<thead>
	<tr>
		<th>Fornitore</th>
		<th>Totale</th>
		<th>Iva</th>
		<th>Incassato</th>
		<th>Da incassare</th>
		<th>Motivo</th>
		<th>Data di emmissione</th>
		<th>Scadenza</th>
		<th>Elimina</th>
	</tr>
</thead>
<tfoot>
	<tr class="totals">
		<td>Totale:</td>
		<td><%= total_all_invoices(@invoices) %></td>
		<td><%= total_vat_all_invoices(@invoices) %></td>
		<td><%= total_paid_or_collected_all_invoices(@invoices) %></td>
		<td><%= total_remaining_all_invoices(@invoices) %></td>
	</tr>
</tfoot>
<tbody>
	<% @invoices.each do |invoice|%>
		<tr>
			<td><%=link_to invoice.company_name, company_path(invoice.company_id) %></td>
			<td><%=invoice.total %></td>
			<td><%=invoice.total_vat %></td>
			<td><%=paid_per_invoice(invoice.id) %></td>
			<td><%=to_pay_per_invoice(invoice.id) %></td>
			<td><%=link_to invoice.reason,company_invoice_path(company_id: invoice.company.id, id: invoice.id) %></td>
			<td><%=invoice.date_of_issue.strftime("%d-%m-%Y")%></td>
			<td><%=invoice.deadline.strftime("%d-%m-%Y")%></td>
			<td><%=button_to "Elimina fattura", company_invoice_path(company_id: invoice.company_id, id: invoice.id), method: :delete %></td>
		</tr>
	<%end%>
</tbody>
</table>
