<h2>Anno: <%= params[:year_param]%></h2>
<%= previos_year_menu("passive") %>
<%= next_year_menu("passive") %>
<% @invoices_month.each do |month, invoices| %>
	<h2><%= month.strftime('%B') %></h2>
	<table>
		<thead>
			<tr>
				<th>Fornitore</th>
				<th>Totale</th>
				<th>Iva</th>
				<th>Pagato</th>
				<th>Da pagare</th>
				<th>Motivo</th>
				<th>Data di emmissione</th>
				<th>Targa</th>
				<th>Scadenza</th>
				<th>Elimina</th>
			</tr>
		</thead>
		<tfoot>
			<tr class="totals">
				<td>Totale:</td>
				<td><%= total_all_invoices(invoices) %></td>
				<td><%= total_vat_all_invoices(invoices) %></td>
				<td><%= total_paid_or_collected_all_invoices(@invoices) %></td>
				<td><%= total_remaining_all_invoices(invoices) %></td>
			</tr>
		</tfoot>
		<tbody>
			<% for invoice in invoices %>
				<tr>
					<td><%=link_to invoice.company_name, company_path(invoice.company_id) %></td>
					<td><%=invoice.total %></td>
					<td><%=invoice.total_vat %></td>
					<td><%=paid_per_invoice(invoice.id) %></td>
					<td><%=to_pay_per_invoice(invoice.id) %></td>
					<td><%=link_to invoice.reason, invoice_path(id: invoice.id) %></td>
					<td><%=invoice.date_of_issue.strftime("%d-%m-%Y")%></td>
					<td><%=link_to invoice.vehicle.plate, vehicle_path(invoice.vehicle_id)%></td>
					<td><%=invoice.deadline.strftime("%d-%m-%Y")%></td>
					<td><%=button_to "Elimina fattura", invoice_path(id: invoice.id), method: :delete %></td>
				</tr>
			<%end%>
		</tbody>
	</table>
<%end%>
