<div class="row">
<div class="invoices-by-year">
	<h3>Anno: <%= params[:year_param]%></h3>
	<h4><%= previos_year_menu("passive") %></h4>
	<h4><%= next_year_menu("passive") %></h4>
</div>
</div>
<div class="row">
<div class="invoices">
<% @invoices.each do |month, invoices| %>
	<h2><%= month.strftime('%B') %></h2>
	<table>
		<thead>
			<tr>
				<th>Fornitore</th>
				<th>Totale</th>
				<th>Iva</th>
				<th>Incassato</th>
				<th>Da incassare</th>
				<th>Motivo</th>
				<th>Data di emmissione</th>
				<th>Targa</th>
				<th>Scadenza</th>
				<th class="cash-invoice"></th>
				<th class="delete-invoice"></th>
			</tr>
		</thead>
		<tfoot>
			<tr class="totals">
				<td>Totale:</td>
				<td><%= @calculator.total_all(invoices) %></td>
				<td><%= @calculator.total_vat_all(invoices) %></td>
				<td><%= @calculator.total_paid_or_collected_all(invoices) %></td>
				<td><%= @calculator.total_remaining_all(invoices) %></td>
			</tr>
		</tfoot>
		<tbody>
			<% for invoice in invoices %>
				<tr>
					<td><%= link_to invoice.company_name, company_path(invoice.company_id) %></td>
					<td><%= invoice.total %></td>
					<td><%= invoice.total_vat %></td>
					<td><%= @calculator.paid_per(invoice) %></td>
					<td><%= @calculator.to_pay_per(invoice) %></td>
					<td><%= link_to invoice.reason, invoice_path(id: invoice.id) %></td>
					<td><%= invoice.date_of_issue.strftime("%d-%m-%Y")%></td>
					<td><%= link_to_at_the_expense_of(invoice)%></td>
					<td><%= invoice.deadline.strftime("%d-%m-%Y")%></td>
					<td class="cash-invoice">
						<%= link_to new_invoice_payment_path(invoice_id: invoice.id), title: "Effettua incasso." do %>
							<i class="ion-cash icon-small-cash"></i>
						<% end%>
					</td>
					<td class="delete-invoice">
						<%= link_to invoice_path(id: invoice.id), title: "Elimina fattura.", method: :delete, data: {confirm: "Si e sicuri?"} do%>
							<i class="ion-ios-trash icon-small-trash"></i>
						<% end%>
					</td>
				</tr>
			<%end%>
		</tbody>
	</table>
<%end%>
</div>
</div>
