<div class="row">
  <div class="invoices-by-year">
    <h3><%= params[:month]%>/<%= params[:year]%></h3>
    <h4><%= previos_month_menu("active") %></h4>
    <h4><%= next_month_menu("active") %></h4>
  </div>
</div>
<div class="row">
  <div class="invoices">
      <table>
        <thead>
          <tr>
            <th>Fornitore</th>
            <th>Totale</th>
            <th class="vat">Iva</th>
            <th class="paid">Incassato</th>
            <th>Da incassare</th>
            <th>Motivo</th>
            <th class="date-of-issue">Emmissione</th>
            <th class="at-the-expense-of">A carrico di</th>
            <th class="deadline">Scadenza</th>
            <th class="cash-invoice"></th>
            <th class="delete-invoice"></th>
          </tr>
        </thead>
        <%= render partial: "total_costs/invoices_totals", locals: {calculator: calculator, invoices: invoices } %>
        <tbody>
          <% for invoice in invoices %>
            <tr>
              <td id="supplier_<%=invoice.company_id%>"><%= link_to invoice.company_name, company_path(invoice.company_id) %></td>
              <td id="total_<%=invoice.company_id%>"><%= invoice.total %></td>
              <td class="vat"><%= invoice.total_vat %></td>
              <td class="paid"><%= invoice.total_payments %></td>
              <td><%= invoice.to_pay %></td>
              <td><%= link_to invoice.reason, invoice_path(id: invoice.id) %></td>
              <td class="date-of-issue"><%= invoice.date_of_issue.strftime("%d-%m-%Y")%></td>
              <td class="at-the-expense-of"><%= link_to_at_the_expense_of(invoice)%></td>
              <td class="deadline"><%= invoice.deadline.strftime("%d-%m-%Y")%></td>
              <td class="cash-invoice">
                <%= link_to new_invoice_payment_path(invoice_id: invoice.id), title: "Effettua incasso." do %>
                  <i class="ion-cash icon-small-cash"></i>
                <% end%>
              </td>
              <td class="delete-invoice">
                <%= link_to invoice_path(id: invoice.id), title: "Elimina fattura.", method: :delete, data: {confirm: "Si e sicuri?"} do%>
                  <i class="ion-ios-trash icon-small-trash"></i>
                <% end%>
              </td>
            </tr>
          <%end%>
        </tbody>
      </table>
  </div>
</div>
