<%= form_for @invoice do |form|%>
	<% if @invoice.errors.any? %>
		<%= pluralize(@invoice.errors.count, "error") %> prevented your account from being created:
		<ul>
			<% @invoice.errors.full_messages.each do |error_message| %>
				<li><%= error_message %></li>
			<% end %>
		</ul>
	<% end %>
	<%= form.fields_for :taxable_vat_fields do |builder| %>
		<%= render 'taxable_vat_field_fields', f: builder %>
	<% end %>
	<% if !invoice_url_include_edit? %>
		<%=default_fields form , :taxable_vat_fields%>
	<% end %>
	<%=link_to_add_fields "Aggiungi imponibile", form , :taxable_vat_fields%>
	<div>
		<%= form.label 'Tipo fattura' %>
		<%= form.select(:type_of_invoice) do %>
			<%= content_tag(:option, 'Attiva' , value: 'attiva') %>
			<%= content_tag(:option, 'Passiva' , value: 'passiva') %>
		<%end%>
	</div>
	<div>
		<%= form.label 'Azienda' %>
		<%= form.select(:company_id) do %>
			<% @companies.each do |company| %>
				<%= content_tag(:option, company.name , value: company.id) %>
			<%end%>
		<%end%>
	</div>
	<div>
		<%= form.label 'Mezzo' %>
		<%= form.select(:vehicle_id) do %>
			<% @vehicles.each do |vehicle| %>
				<%= content_tag(:option, vehicle.plate , value: vehicle.id) %>
			<%end%>
		<%end%>
	</div>
	<div>
		<%= form.label 'Motivo' %>
		<%= form.text_field :reason, require: true %>
	</div>
	<div>
		<%= form.label 'Data emissione fattura' %>
		<%= form.text_field :date_of_issue, require: true %>
	</div>
	<div>
		<%= form.label 'Data scadenza' %>
		<%= form.text_field :deadline, require: true %>
	</div>
	<div>
		<%= form.submit "Conferma" %>
	</div>
<% end %>


