<div class="row">
  <div class="new">
    <%= form_for invoice do |form| %>
      <% if invoice.errors.any? %>
        A causa di questi errori non e' stato possibile creare la fattura:
        <ul>
          <% invoice.errors.messages.each do |name, error| %>
            <li><%= error[0] %></li>
          <% end %>
        </ul>
      <% end %>
      <%= form.fields_for :taxable_vat_fields do |builder| %>
        <%= render 'taxable_vat_field_fields', f: builder %>
      <% end %>
      <% if invoice_url_include_new? %>
        <%= default_fields(form , :taxable_vat_fields) %>
      <% end %>
      <div class="row">
        <div class="col span-3-of-3">
          <%= link_to_add_fields "Aggiungi imponibile", form , :taxable_vat_fields, 'add_fields'%>
        </div>
      </div>
      <div class="row">
        <div class="col span-1-of-3">
          <%= form.label 'Tipo fattura' %>
        </div>
        <div class="col span-2-of-3">
          <%= form.select(:type_of_invoice, options_for_select([["Attiva", 'attiva'], ["Passiva", 'passiva']], selected: form.object.type_of_invoice), prompt: 'Tipo di fattura') %>
        </div>
      </div>
      <div class="row">
        <div class="col span-1-of-3">
          <%= form.label 'Azienda' %>
        </div>
        <div class="col span-2-of-3">
          <%= form.collection_select(:company_id, @companies, :id, :name, prompt: "Aziende") %>
        </div>
      </div>
      <div class="row">
        <div class="col span-1-of-3">
          <%= form.label 'A carico di' %>
        </div>
        <div class="col span-2-of-3">
          <%= form.select(:at_the_expense_of, class: 'at_the_expense_of') do %>
            <%= options_for_select([['Slezionare valore', nil], ['Nessun veicolo', 'no_vehicle'], ['Spese generali', 'general_expenses'], ['Veicolo specifico', 'specific_vehicle'], ['Piu veicoli', 'multiple_vehicles']], selected: form.object.at_the_expense_of) %>
          <% end %>
        </div>
      </div>
      <div id='vehicles'>
        <%= select_specific_vehicle(invoice, form) %>
        <% if invoice.at_the_expense_of == 'multiple_vehicles' %>
          <%= form.fields_for :vehicle_fields do |builder| %>
            <%= render 'vehicle_field_fields', f: builder %>
          <% end %>
          <%= link_to_add_fields('Aggiungi veicolo', form, :vehicle_fields, 'add_vehicle_fields') %>
        <% end %>
      </div>
      <div class="row">
        <div class="col span-1-of-3">
          <%= form.label 'Motivo' %>
        </div>
        <div class="col span-2-of-3">
          <%= form.text_field :reason, require: true %>
        </div>
      </div>
      <div class="row">
        <div class="col span-1-of-3">
          <%= form.label 'Numero fattura' %>
        </div>
        <div class="col span-2-of-3">
          <%= form.text_field :serial_number, require: true %>
        </div>
      </div>
      <div class="row">
        <div class="col span-1-of-3">
          <%= form.label 'Data emissione fattura' %>
        </div>
        <div class="col span-2-of-3">
          <%= form.text_field :date_of_issue, require: true %>
        </div>
      </div>
      <div class="row">
        <div class="col span-1-of-3">
          <%= form.label 'Data scadenza' %>
        </div>
        <div class="col span-2-of-3">
          <%= form.text_field :deadline, require: true %>
        </div>
      </div>
      <div class="row">
        <div class="col span-3-of-3 submit">
          <%= form.submit "Conferma", class: "btn btn-big" %>
        </div>
      </div>
      <script type="text/javascript">
        $(function(){
          $(document).on('change', '#invoice_at_the_expense_of', function(){
            var val = $(this).val();
            $('#vehicles').empty();
            if(val === 'specific_vehicle'){
              $('#vehicles').html("<%=escape_javascript( render 'vehicles/specific_vehicles', form: form ) %>");
            } else if(val == 'multiple_vehicles') {
              $('#vehicles').append("<%= escape_javascript(default_fields(form , :vehicle_fields)) %>")
              $('#vehicles').append("<%= escape_javascript(link_to_add_fields('Aggiungi veicolo', form , :vehicle_fields, 'add_vehicle_fields')) %>")
            }
          });
        });
      </script>
    <% end %>
  </div>
</div>
