<tbody>
<tr>
	<td><%= link_to invoice.company_name, company_path(invoice.company_id) %></td>
	<td><%= invoice.total %></td>
	<td><%= invoice.total_vat %></td>
	<td><%= @calculator.paid_per(invoice) %></td>
	<td><%= @calculator.to_pay_per(invoice) %></td>
	<td><%= link_to invoice.reason, invoice_path(id: invoice.id) %></td>
	<td><%= link_to_at_the_expense_of(invoice) %></td>
	<td><%= invoice.deadline.strftime("%d-%m-%Y")%></td>
	<td><%= link_to invoice_path(id: invoice.id), method: :delete, data: {confirm: "Si e sicuri?"} do%>
		<i class="ion-ios-trash"></i>
	<% end%>
	</td>
	<% if invoice.type_of_invoice == "passiva" %>
		<td><%= link_to "Paga", new_invoice_payment_path(invoice_id: invoice.id) %></td>
	<% else %>
		<td><%= link_to "Incassa", new_invoice_payment_path(invoice_id: invoice.id) %></td>
	<% end%>
</tr>
</tbody>
