<tbody>
	<tr>
		<td><%=link_to invoice.company_name, company_path(invoice.company_id) %></td>
		<td><%=invoice.total %></td>
		<td><%=invoice.total_vat %></td>
		<td><%=paid_per_invoice(invoice.id) %></td>
		<td><%=to_pay_per_invoice(invoice.id) %></td>
		<td><%=link_to invoice.reason, invoice_path(id: invoice.id) %></td>
		<td><%=invoice.date_of_issue.strftime("%d-%m-%Y")%></td>
		<td><%=link_to invoice.vehicle.plate, vehicle_path(invoice.vehicle_id)%></td>
		<td><%=invoice.deadline.strftime("%d-%m-%Y")%></td>
		<td><%=button_to "Elimina fattura", invoice_path(id: invoice.id), method: :delete %></td>
	</tr>
</tbody>
