<div class="row">
  <div class="invoices-by-year">
    <h3><%= params[:month]%>/<%= params[:year]%></h3>
    <h4><%= previos_month_menu("passive") %></h4>
    <h4><%= next_month_menu("passive") %></h4>
  </div>
</div>
<%= render partial: 'invoices/passive_invoices_table', locals: {calculator: calculator, invoices: invoices } %>
