<table>
<thead>
	<tr>
		<th>Motivo</th>
		<th>Totale</th>
		<th>Iva</th>
		<th>Pagato</th>
		<th>Da pagare</th>
		<th>Data di emmissione</th>
		<th>Targa</th>
		<th>Scadenza</th>
		<th>Elimina</th>
	</tr>
</thead>
<tfoot>
	<tr>
		<td></td>
		<td><%= invoices.total %></td>
		<td><%= invoices.total_vat %></td>
		<td><%= invoices.total_paid %></td>
		<td><%= invoices.total_to_pay %></td>
	</tr>
</tfoot>
<tbody>
	<% invoices.each do |invoice|%>
		<tr>
			<td><%=link_to invoice.reason,company_invoice_path(company_id: company_id, id: invoice.id) %></td>
			<td><%=invoice.total %></td>
			<td><%=invoice.vat %></td>
			<td><%=invoices.paid(invoice.id) %></td>
			<td><%=invoices.to_pay(invoice.id) %></td>
			<td><%=invoice.date_of_issue%></td>
			<td><%=link_to invoice.vehicle.plate, vehicle_path(invoice.vehicle_id)%></td>
			<td><%=invoice.deadline%></td>
			<td><%=button_to "Elimina fattura", company_invoice_path(company_id: company_id, id: invoice.id), method: :delete %></td>
		</tr>
	<%end%>
</tbody>
</table>
