<div>
	<%= form.label 'Imponibile' %>
	<%= form.text_field :taxable_1, require: true %>
</div>
<div>
	<%= form.label 'Iva' %>
	<%= form.select(:vat_1) do %>
		<% [['4', 4],['10', 10],['22',22]].each do |option| %>
			<%= content_tag(:option, option.first, value: option.last) %>
		<%end%>
	<%end%>
</div>
<div>
	<%= form.label 'Imponibile' %>
	<%= form.text_field :taxable_2, require: true %>
</div>
<div>
	<%= form.label 'Iva' %>
	<%= form.select(:vat_2) do %>
		<% [['4', 4],['10', 10],['22',22]].each do |option| %>
			<%= content_tag(:option, option.first, value: option.last) %>
		<%end%>
	<%end%>
</div>
<div>
	<%= form.label 'Imponibile' %>
	<%= form.text_field :taxable_3, require: true %>
</div>
<div>
	<%= form.label 'Iva' %>
	<%= form.select(:vat_3) do %>
		<% [['4', 4],['10', 10],['22',22]].each do |option| %>
			<%= content_tag(:option, option.first, value: option.last) %>
		<%end%>
	<%end%>
</div>
