<div class="taxable">
	<fieldset>
		<div class="col span-1-of-3">
		<%= f.label 'Imponibile' %>
		</div>
		<div class="col span-2-of-3">
		<%= f.text_field :taxable, require: true %>
		<%= f.label 'Iva' %>
		<%= f.select(:vat_rate) do %>
			<% [['4', 4],['10', 10],['22',22]].each do |option| %>
				<%= content_tag(:option, option.first, value: option.last) %>
			<%end%>
		<%end%>
		<%= f.hidden_field :_destroy %>
		<%= link_to "Remove", '#', class: "remove_fields" %>
		</div>
	</fieldset>
</div>
