<table>
<thead>
	<tr>
		<th>Fornitore</th>
		<th>Totale</th>
		<th>Iva</th>
		<th>Data di emmissione</th>
		<th>Targa</th>
		<th>Scadenza</th>
		<th>Tipo di pagamento</th>
	</tr>
</thead>
<tbody>
	<tr>
		<% @invoices.each do |invoice|%>
			<td><%=link_to invoice.supplier, invoice_path(invoice) %></td>
			<td><%=invoice.total %></td>
			<td><%=invoice.vat %></td>
			<td><%=invoice.date.strftime("%d/%m/%Y") %></td>
			<td><%=invoice.plate %></td>
			<td><%=invoice.deadline.strftime("%d/%m/%Y") %></td>
			<td><%=invoice.type_of_payment %></td>
		<%end%>
	</tr>
</tbody>
</table>
