<table>
<thead>
	<tr>
		<th>Fornitore</th>
		<th>Totale</th>
		<th>Iva</th>
		<th>Pagato</th>
		<th>Da pagare</th>
		<th>Motivo</th>
		<th>Data di emmissione</th>
		<th>Targa</th>
		<th>Scadenza</th>
	</tr>
</thead>
<tfoot>
	<tr>
		<td>Totale:</td>
		<td><%= total_all_invoices %></td>
		<td><%= total_vat_all_invoices %></td>
		<td><%= total_paid_all_invoices %></td>
		<td><%= total_to_pay_all_invoices %></td>
	</tr>
</tfoot>
<tbody>
	<% @invoices.each do |invoice|%>
		<tr>
			<td><%=link_to invoice.company_name, company_path(invoice.company_id) %></td>
			<td><%=invoice.total %></td>
			<td><%=invoice.vat %></td>
			<td><%=paid_per_invoice(invoice.id) %></td>
			<td><%=to_pay_per_invoice(invoice.id) %></td>
			<td><%=link_to invoice.reason,company_invoice_path(company_id: invoice.company.id, id: invoice.id) %></td>
			<td><%=invoice.date_of_issue.strftime("%d-%m-%Y")%></td>
			<td><%=link_to invoice.vehicle.plate, vehicle_path(invoice.vehicle_id)%></td>
			<td><%=invoice.deadline.strftime("%d-%m-%Y")%></td>
		</tr>
	<%end%>
</tbody>
</table>
