<h2>Aggiungi Fattura</h2>
<%= form_for @invoice, url: company_invoices_path(params[:company_id]) do |form| %>
	<% if @invoice.errors.any? %>
		<%= pluralize(@invoice.errors.count, "error") %> prevented your account from being created:
		<ul>
			<% @invoice.errors.full_messages.each do |error_message| %>
				<li><%= error_message %></li>
			<% end %>
		</ul>
	<% end %>
	<div>
		<%= form.label 'Imponibile' %>
		<%= form.text_field :taxable, require: true %>
	</div>
	<div>
		<%= form.label 'Iva' %>
		<%= form.select(:vat) do %>
			<% [['4', 4],['10', 10],['22',22]].each do |option| %>
				<%= content_tag(:option, option.first, value: option.last) %>
			<%end%>
		<%end%>
	</div>
	<div>
		<%= form.label 'Data emissione' %>
		<%= form.text_field :date, require: true %>
	</div>
	<div>
		<%= form.label 'Targa camion' %>
		<%= form.text_field :plate, require: true %>
	</div>
	<div>
		<%= form.label 'Data scadenza' %>
		<%= form.text_field :deadline, require: true %>
	</div>
	<div>
		<%= form.label 'Tipo di pagamento' %>
		<%= form.text_field :type_of_payment, require: true %>
	</div>
	<div>
		<%= form.submit "Aggiungi fattura" %>
	</div>
<% end %>
<%= javascript_include_tag "scripts", "data-turbolinks-track" => true  %>
