<h1><%= @invoice.company.name %></h1>
<h2><%= @invoice.reason %></h2>
<p>Motivo: <%=@invoice.reason%></p>
<p>Tipo fattura: <%=@invoice.type_of_invoice%></p>
<p>Imponibile: <%=@invoice.total_taxable %></p>
<p>Iva: <%=@invoice.total_vat %></p>
<p>Totale: <%=@invoice.total %></p>
<p>Data emissione: <%=@invoice.date_of_issue.strftime("%d-%m-%Y") %></p>
<p>Targa: <%=@invoice.vehicle.plate %></p>
<p>Scadenza: <%=@invoice.deadline.strftime("%d-%m-%Y") %></p>
<%if !@invoice.payments.empty? %>
	<%= render @invoice.payments %>
<%end%>
<%= link_to 'Aggiorna', edit_invoice_path(invoice_id: @invoice.id) %>
<%= link_to "Effettua pagamento", 	new_invoice_payment_path(invoice_id: @invoice.id) %>
