<h1><%= @invoice.company.name %></h1>
<h2><%= @invoice.reason %></h2>
<p>Motivo: <%=@invoice.reason%></p>
<p>Taxable: <%=@invoice.taxable %></p>
<p>Iva: <%=@invoice.vat %></p>
<p>Totale: <%=@invoice.total %></p>
<p>Data emissione: <%=@invoice.date_of_issue%></p>
<p>Targa: <%=@invoice.plate %></p>
<p>Scadenza: <%=@invoice.deadline%></p>
<%if !@invoice.payments.empty? %>
	<%= render @invoice.payments %>
<%end%>
<%= link_to 'Aggiorna', edit_company_invoice_path(company_id:@invoice.company.id, invoice_id: @invoice.id) %>
<%= link_to "Effettua pagamento", 
	new_company_invoice_payment_path(company_id:@invoice.company.id, invoice_id: @invoice.id)%>
