<div class="row">
<div class="invoices">
<h3 class="title">Fatture da pagare</h3>
<table>
	<thead>
		<tr>
			<th>Fornitore</th>
			<th>Totale</th>
			<th>Iva</th>
			<th>Pagato</th>
			<th>Da pagare</th>
			<th>Motivo</th>
			<th>Targa</th>
			<th>Scadenza</th>
			<th class="cash-invoice"></th>
			<th class="delete-invoice"></th>
		</tr>
	</thead>
	<%= render @company_dashboard.not_paid_invoices %>
	<tfoot>
		<tr class="totals">
			<td>Totale:</td>
			<td><%= @calculator.total_all(@company_dashboard.not_paid_invoices) %></td>
			<td><%= @calculator.total_vat_all(@company_dashboard.not_paid_invoices) %></td>
			<td><%= @calculator.total_paid_or_collected_all(@company_dashboard.not_paid_invoices) %></td>
			<td><%= @calculator.total_remaining_all(@company_dashboard.not_paid_invoices) %></td>
		</tr>
	</tfoot>
</table>
</div>
<div class="invoices">
	<h3 class="title">Fatture da incassare</h3>
	<table>
		<thead>
			<tr>
				<th>Fornitore</th>
				<th>Totale</th>
				<th>Iva</th>
				<th>Incassato</th>
				<th>Da incassare</th>
				<th>Motivo</th>
				<th>Targa</th>
				<th>Scadenza</th>
				<th class="cash-invoice"></th>
				<th class="delete-invoice"></th>
			</tr>
		</thead>
		<%= render @company_dashboard.not_collected_invoices %>
		<tfoot>
			<tr class="totals">
				<td>Totale:</td>
				<td><%= @calculator.total_all(@company_dashboard.not_collected_invoices) %></td>
				<td><%= @calculator.total_vat_all(@company_dashboard.not_collected_invoices) %></td>
				<td><%= @calculator.total_paid_or_collected_all(@company_dashboard.not_collected_invoices) %></td>
				<td><%= @calculator.total_remaining_all(@company_dashboard.not_collected_invoices) %></td>
			</tr>
		</tfoot>
	</table>
</div>
</div>
