<%=link_to 'Aggiungi azienda', new_company_path %><br>
<div id="category">
	<a class="popup-with-form" id="pop_up" href="#category_of_company-form" > Aggiungi categoria azienda</a>
</div>
<%#<%=link_to 'Aggiungi categoria', new_category_of_company_path %><br>
<br>
<div class="companies">
	<% @companies.each do |category_id, companies| %>
		<h2><%= category_of_company(category_id) %></h2>
		<%= link_to "Modifica categoria", edit_category_of_company_path(category_id)  %>
		<br>
		<br>
		<%= render companies %>
	<% end %>
</div>
<% if params[:commit] == "Aggiungi categoria" %>
	<%byebug%>
	<script type="text/javascript">
		category_fails_to_save();
	</script>
<% end %>
<form id="category_of_company-form" class="mfp-hide white-popup">
	<h1>Form</h1>
	<%= render template: "category_of_companies/new" %>
</form>
