<h2><%= @company_dashboard.company_name %></h2>
<%= link_to 'Passive', passive_invoices_company_path(@company_dashboard.company_id, year_param: Time.now.year), remote: true %>
<%= link_to 'Attive', active_invoices_company_path(@company_dashboard.company_id, year_param: Time.now.year), remote: true %>
<%= link_to 'Riepilogo', dashboard_company_path(@company_dashboard.company_id) %>
<div id="invoices">
	<%= render 'company_summary'%>
</div>
