<div class="row">
  <div class="new">
    <%= form_for ticket do |form|%>
      <% if ticket.errors.any? %>
        A causa di questi errori non e' stato possibile creare lo scontrino:
        <ul>
          <% ticket.errors.messages.each do |name, error| %>
            <li><%= error[0] %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="row">
        <div class="col span-1-of-3">
          <%= form.label 'Totale'%>
        </div>
        <div class="col span-2-of-3">
          <%= form.text_field :total, require: true %>
        </div>
      </div>
      <div class="row">
        <div class="col span-1-of-3">
          <%= form.label 'Tipo di multa' %>
        </div>
        <div class="col span-2-of-3">
          <%= form.select(:type_of, class: 'type_of') do %>
            <%= options_for_select([['Slezionare valore', nil], ['Veicolo', 1], ['Amministrativa', 2]], selected: form.object.type_of) %>
          <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col span-1-of-3">
          <%= form.label 'A carico di'%>
        </div>
        <div class="col span-2-of-3">
          <%= form.collection_select(:vehicle_id, @vehicles, :id, :plate, prompt: "Mezzi") %>
        </div>
      </div>
      <div class="row">
        <div class="col span-1-of-3">
          <%= form.label 'Data emissione multa' %>
        </div>
        <div class="col span-2-of-3">
          <%= form.text_field :date_of_issue, require: true %>
        </div>
      </div>
      <div class="row">
        <div class="col span-1-of-3">
          <%= form.label 'Data scadenza multa' %>
        </div>
        <div class="col span-2-of-3">
          <%= form.text_field :deadline, require: true %>
        </div>
      </div>
      <div class="row">
        <div class="col span-3-of-3 submit">
          <%= form.submit "Conferma", class: "btn btn-big" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
