<div class="row">
<div class="index">
	<h2><%= @category_dashboard.category_name %></h2>
	<div class="nav">
		<h4><%= link_to 'Passive', passive_invoices_category_path(@category_dashboard.category_id, year_param: Time.now.year), remote: true %></h4>
		<h4><%= link_to 'Riepilogo', dashboard_category_path(@category_dashboard.category_id) %></h4>
		<h4><%= link_to 'Attive', active_invoices_category_path(@category_dashboard.category_id, year_param: Time.now.year), remote: true %></h4>
	</div>
	<div id="invoices">
		<%= render "dashboards/summary",  dashboard: @category_dashboard %>
	</div>
</div>
</div>
