<div class="col span-1-of-3 summary">
  <div class="title">
    <h2 id="company_name"><%=link_to company.name, company_path(company.id) %></h2>
  </div>
  <br>
  <%= link_to edit_company_path(company.id), class: 'edit-company', title: "Modifica azienda." do %>
    <i class="ion-ios-compose icon-small-compose"></i>
  <% end %>
  <%= link_to company_path(company.id), class: 'delete-company', title: "Elimina azienda." , method: :delete, data: {confirm: "L'elliminazione di questo veicolo elliminera automaticamente anche le fatture registrate su di esso, si e sicuri di volerlo elliminare?"} do%>
    <i class="ion-ios-trash icon-small-trash"></i>
  <% end %>
  <% if company.insurance? %>
    <%= link_to insurances_company_path(company.id, year: Time.zone.now.year), title: "Visualizza assicurazioni." do%>
      <i class="ion-help-buoy icon-small-list"></i>
    <% end %>
    <%= render partial: 'total_costs/total_insurance_costs', locals: {calculator: company.calculator, insurances: company.insurances } %>
  <% else %>
    <%= link_to dashboard_company_path(company.id), id: 'invoices', title: "Visualizza fatture." do%>
      <i class="ion-ios-list icon-small-list"></i>
    <% end %>
    <%= render partial: 'total_costs/total_costs', locals: {calculator: company.calculator, invoices: company.invoices } %>
  <% end %>
</div>
