<%= form_for company_from_view do |form| %>
	<% if company_from_view.errors.any? %>
		<%= pluralize(company_from_view.errors.count, "error") %> prevented your account from being created:
		<ul>
			<% company_from_view.errors.full_messages.each do |error_message| %>
				<li><%= error_message %></li>
			<% end %>
		</ul>
	<% end %>
	<div>
		<%= form.label 'Nome' %>
		<%= form.text_field :name, require: true %>
	</div>
	<div>
		<%= form.label 'Indirizzo' %>
		<%= form.text_field :adress, require: true %>
	</div>
	<div>
		<%= form.label 'Numero' %>
		<%= form.text_field :number, require: true %>
	</div>
	<div>
		<%= form.label 'Categoria azienda' %>
		<%= form.select(:category_of_company_id) do %>
			<% if !category_of_company_from_view.empty? %>
				<% @category_of_company_from_view.each do |category| %>
					<%= content_tag(:option, category.category , value: category.id) %>
				<%end%>
			<%end%>
		<%end%>
	</div>
	<div>
		<%= form.submit "Aggiungi azienda" %>
	</div>
<% end %>
