<%= form_for company_instance do |form| %>
	<% if company_instance.errors.any? %>
		<%= pluralize(company_instance.errors.count, "error") %> prevented your account from being created:
		<ul>
			<% company_instance.errors.full_messages.each do |error_message| %>
				<li><%= error_message %></li>
			<% end %>
		</ul>
	<% end %>
	<div>
		<%= form.label 'Nome' %>
		<%= form.text_field :name, require: true %>
	</div>
	<div>
		<%= form.label 'Indirizzo' %>
		<%= form.text_field :adress, require: true %>
	</div>
	<div>
		<%= form.label 'Numero' %>
		<%= form.text_field :number, require: true %>
	</div>
	<div>
		<%= form.label 'Categoria azienda' %>
		<% if !category_of_company_instance.empty? %>
			<%= form.select(:category_of_company_id, options_from_collection_for_select(category_of_company_instance.all, "id", "category"), prompt: "Categorie") %>
		<%end%>
	</div>
	<div>
		<%= form.submit "Aggiungi azienda" %>
	</div>
<% end %>
