<div class="col span-1-of-3 summary">
  <div class="title">
    <h2><%=link_to company.name, company_path(company.id) %></h2>
  </div>
  <%= link_to edit_company_path(company.id), class: 'edit-company', title: "Modifica azienda." do %>
    <i class="ion-ios-compose icon-small-compose"></i>
  <% end %>
  <%= link_to company_path(company.id), class: 'delete-company', title: "Elimina azienda." , method: :delete, data: {confirm: "L'elliminazione di questo veicolo elliminera automaticamente anche le fatture registrate su di esso, si e sicuri di volerlo elliminare?"} do%>
    <i class="ion-ios-trash icon-small-trash"></i>
  <% end %>
  <%= link_to dashboard_company_path(company.id), title: "Visualizza fatture." do%>
    <i class="ion-ios-list icon-small-list"></i>
  <% end %>
  <%= link_to fuel_receipts_company_path(company.id, year: Time.now.year), class: 'fuel_receipts', title: "Visualizza scontrini carburante." do%>
    <i class="ion-funnel icon-small-list"></i>
  <% end %>
  <%= render partial: 'vehicles_fuel_receipts', collection: company.vehicles_refueling, as: :vehicle, locals: { calculator: calculator, company_id: company.id } %>
  <div class="data-summary">
    <div class="row">
      <div class="col span-1-of-2">
        <p id="passive_amont_to_pay">Totale: </p>
      </div>
      <div class="col span-1-of-2 data">
        <p id="total_fuel_receipts_company"><%= company.fuel_receipts_total %> $</p>
      </div>
    </div>
  </div>
</div>
