<div class="row">
  <div class="show">
    <div class="title">
      <h3><%= @company.name %></h3>
    </div>
    <div>
      <h4>Nome</h4>
      <%= @company.name %>
    </div>
    <div>
      <h4>Indirizzo</h4>
      <%= @company.adress %>
    </div>
    <div>
      <h4>Numero</h4>
      <%= @company.number %>
    </div>
    <div>
      <h4>Categoria azienda</h4>
      <%= @company.category_name %>
    </div>
  </div>
</div>
