<h3> <%= @company.name %></h3>
<div>
	<h4>Nome</h4>
	<%= @company.name %>
</div>
<div>
	<h4>Indirizzo</h4>
	<%= @company.adress %>
</div>
<div>
	<h4>Numero</h4>
	<%= @company.number %>
</div>
<div>
	<h4>Categoria azienda</h4>
	<%= @company.category_of_company.category %>
</div>
