<h2><%= @vehicle_dashboard.plate %></h2>
<%= link_to 'Passive', passive_invoices_vehicle_path(@vehicle_dashboard.vehicle_id, year_param: Time.now.year), :remote => true %>
<%= link_to 'Attive', active_invoices_vehicle_path(@vehicle_dashboard.vehicle_id, year_param: Time.now.year), :remote => true %>
<%= link_to 'Riepilogo', dashboard_vehicle_path(@vehicle_dashboard.vehicle_id) %>
<div id="invoices">
	<%= render 'vehicle_summary'%>
</div>
