<div class="row">
<div class="pagamenti">
	<h3><%=payment.method_of_payment%></h3>
	<%= link_to edit_invoice_payment_path(invoice_id: @invoice.id, id:payment.id), title: "Modifica pagamento." do %>
		<i class="ion-ios-compose icon-small-compose"></i>
	<% end %>
	<%= link_to invoice_payment_path(invoice_id: @invoice.id, id:payment.id), title: "Elimina pagamento." , method: :delete, data: {confirm: "Si e sicuri di volerlo elliminare?"} do%>
		<i class="ion-ios-trash icon-small-trash"></i>
	<% end %>
	<div class="row">
		<div class="col span-1-of-2">
			<h4>Totale pagamento:</h4>
		</div>
		<div class="col span-1-of-2">
			<p><%=payment.paid%></p>
		</div>
	</div>
	<div class="row">
		<div class="col span-1-of-2">
			<h4>Data pagamento:</h4>
		</div>
		<div class="col span-1-of-2">
			<p><%=payment.payment_date.strftime("%d-%m-%Y")%></p>
		</div>
	</div>
</div>
