<div class="col span-1-of-2 summary">
	<div class="title">
		<h2><%=link_to vehicle.plate, vehicle_path(vehicle.id) %></h2>
	</div>
	<%= link_to edit_vehicle_path(vehicle.id), class: 'edit-vehicle', title: "Modifica veicolo." do %>
		<i class="ion-ios-compose icon-small-compose"></i>
	<% end %>
	<%= link_to vehicle_path(vehicle.id), class: 'delete-vehicle', title: "Elimina veicolo." , method: :delete, data: {confirm: "L'elliminazione di questo veicolo elliminera automaticamente anche le fatture registrate su di esso, si e sicuri di volerlo elliminare?"} do%>
		<i class="ion-ios-trash icon-small-trash"></i>
	<% end %>
	<%= link_to dashboard_vehicle_path(vehicle.id), title: "Visualizza fatture." do%>
		<i class="ion-ios-list icon-small-list"></i>
	<% end %>
	<div class="data-summary">
		<div class="row">
			<div class="col span-1-of-3">
				<h4>Fatture passive</h4>
				<p>da pagare:</p>
			</div>
			<div class="col span-2-of-3 data">
				<br>
				<p id="passive_amont_to_pay_per_vehicle"><%= @calculator.total_remaining_all(vehicle.passive_invoices) %> </p>
			</div>
		</div>
		<div class="row">
			<div class="col span-1-of-3">
				<h4>Fatture attive</h4>
				<p>da incassare:</p>
			</div>
			<div class="col span-2-of-3 data">
				<br>
				<p id="active_amout_to_collect_per_vehicle"><%= @calculator.total_remaining_all(vehicle.active_invoices) %></p>
			</div>
		</div>
		<div class="row">
			<div class="col span-1-of-3">
				<h4>Totale spese</h4>
				<p>Mese corrente:</p>
			</div>
			<div class="col span-2-of-3 data">
				<br>
				<p id="current_month_costs"><%= @calculator.total_costs_current_month_vehicle(vehicle.id) %></p>
			</div>
		</div>
		<div class="row">
			<div class="col span-1-of-3">
				<p>Anno corrente: </p>
			</div>
			<div class="col span-2-of-3 data">
				<p id="current_year_costs"><%= @calculator.total_costs_current_year_vehicle(vehicle.id) %></p>
			</div>
		</div>
	</div>
</div>
