<div class="row">
  <div class="show">
    <div class="title">
      <h3><%= @vehicle.plate %></h3>
    </div>
    <div>
      <h4>Targa</h4>
      <%= @vehicle.plate %>
    </div>
    <div>
      <h4>Tipo mezzo</h4>
      <%= @vehicle.type_of_vehicle %>
    </div>
    <%if @vehicle.insurances.active %>
      <div>
        <h4>Scadenza assicurazione</h4>
        <p id="insurance_deadline"><%= @vehicle.insurances.active.deadline.strftime("%d-%m-%Y") %></p>
      </div>
      <div>
        <h4>Scadenza pagamento assicurazione</h4>
        <p id="insurance_payment_deadline"><%= @vehicle.insurances.active.payment_date %></p>
      </div>
      <div>
        <h4>Assicurazione</h4>
        <p><%= link_to @vehicle.insurances.active.serial_of_contract, insurance_path(@vehicle.insurances.active.id) %></p>
      </div>
    <%end%>
  </div>
</div>
