<h2 style="margin-bottom: 0px"><%= category.category %></h2>
<%= link_to 'Fatture', dashboard_category_path(category.id), id: "fatture_#{category.category}" %><br>
<%= link_to "Modifica categoria", edit_category_path(category.id)  %><br>
<%= button_to 'Elimina categoria', category_path(category.id), method: :delete, data: {confirm: "L'elliminazione di questa categoria elliminera automaticamente anche le fatture registrate su di essa, si e sicuri di volerla elliminare?"} %><br>
<div style="display: inline-block;">
	<h4>Fatture passive</h4>
	<p id="passive_amount_to_pay" >da pagare: <%= @calculator.passive_amount_to_pay(category.companies) %> </p>
</div>
<div style="display: inline-block;">
	<h4>Fatture attive</h4>
	<p id="active_amount_to_collect">da incassare: <%= @calculator.active_amount_to_collect(category.companies) %> </p>
</div>
<div style="display: inline-block;">
	<h4>Totale spese</h4>
	<p id="current_month_costs"> Mese corrente: <%= @calculator.total_costs_current_month(category.invoices) %></p>
	<p id="current_year_costs"> Anno corrente: <%= @calculator.total_costs_current_year(category.invoices) %></p>
</div>
