<div class="col span-1-of-2 summary">
  <div class="title">
    <h2><%=category.category%></h2>
  </div>
  <%= link_to edit_category_path(category.id), title: "Modifica categoria." do %>
    <i class="ion-ios-compose icon-small-compose"></i>
  <% end %>
  <%= link_to category_path(category.id), title: "Elimina categoria." , method: :delete, data: {confirm: "L'elliminazione di questo veicolo elliminera automaticamente anche le fatture registrate su di esso, si e sicuri di volerlo elliminare?"} do%>
    <i class="ion-ios-trash icon-small-trash"></i>
  <% end %>
  <%= link_to dashboard_category_path(category.id), title: "Visualizza fatture." do%>
    <i class="ion-ios-list icon-small-list"></i>
  <% end %>
  <%= render category.calculator, invoices: category.invoices %>
</div>
