<div class="row">
  <div class="new">
    <%= form_for category do |form| %>
      <% if category.errors.any? %>
        A causa di questi errori non e' stato possibile creare la categoria:
        <ul>
          <% category.errors.messages.each do |name, error| %>
            <li><%= error[0] %></li>
          <% end %>
        </ul>
      <% end %>
      <div class="row">
        <div class="col span-1-of-3">
          <%= form.label 'Categoria' %>
        </div>
        <div class="col span-2-of-3">
          <%= form.text_field :name, require: true %>
        </div>
      </div>
      <% unless gas_station? %>
        <div class="row">
          <div class="gas-station col span-3-of-3">
            <%= form.check_box(:gas_station)  %>
            <%= form.label 'Selezionare la casella se la categoria indica i benzinaii' %>
          </div>
        </div>
      <% end %>
      <div class="row">
        <div class="col span-3-of-3 submit">
          <%= form.submit "Conferma", class: "btn btn-big" %>
        </div>
      </div>
    <% end %>
  </div>
</div>
