<div class="row">
  <div class="invoices-by-year">
    <h3>Anno: <%= params[:year]%></h3>
    <h4><%= previos_year_category_insurances(@category) %></h4>
    <h4><%= next_year_category_insurances(@category) %></h4>
  </div>
</div>
<div class="row">
  <div class="invoices">
    <h3 class="title">Assicurazioni</h3>
    <table>
      <thead>
        <tr>
          <th>Assicuratore</th>
          <th>Totale</th>
          <th class="paid">Pagato</th>
          <th>Descrizione</th>
          <th class="at-the-expense-of">A carrico di</th>
          <th class="deadline">Scadenza</th>
          <th class="cash-invoice"></th>
          <th class="delete-invoice"></th>
        </tr>
      </thead>
      <%= render "total_costs/insurances_total", insurances: @insurances %>
      <% year = Date.new(params[:year].to_i) %>
      <%= render @insurances.year(year) %>
    </table>
  </div>
</div>
