<!DOCTYPE html>
<html>
	<head>
		<title>ContabilitaRails</title>
		<%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
		<%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
		<%= csrf_meta_tags %>
	</head>
	<body>
		<h1><%= link_to 'Contabilita', root_path %></h1>
		<% if user_signed_in? %>
			<%= current_user.email %>
			<%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
			<br>
			<br>
			<%= link_to 'Home', dashboard_invoices_path %>
			<% if Invoice.active.any?%>
				<%= link_to 'Fatture attive', active_invoices_path(year_param: Time.now.year) %>
			<% end %>
			<% if Invoice.passive.any?%>
				<%= link_to 'Fatture passive', passive_invoices_path(year_param: Time.now.year)  %>
			<% end %>
			<%= link_to 'Aziende', dashboard_companies_path %>
			<%= link_to 'Mezzi', dashboard_vehicles_path %>
			<%= link_to 'Officina', garages_path %>
			<br>
			<br>
			<%= link_to 'Aggiungi azienda', new_company_path %>
			<%= link_to 'Aggiungi categoria', new_category_path %>
			<%= link_to "Aggiungi fattura", new_invoice_path %>
			<%= link_to 'Aggiungi mezzo', new_vehicle_path %>
		<% else %>
			<%= link_to "Accedi", new_user_session_path %>
			<%= link_to "Registrati", new_user_registration_path %>
		<% end %>
		<br>
		<%= notice %>
		<%= alert %>
		<%= yield %>
	</body>
</html>
